.header {
    position: relative;
    height: 85vh;
    background-image:linear-gradient(to right, rgba(0, 0, 255, 0.432), rgba(255, 255, 0, 0.568)), url(/images/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 1%, 100% 0%, 100% 78%, 0 100%);

    &_logobox  {

        position: absolute;
        top: 40px;
        left: 40px;
    
    }
    
    &_logo {
        height: 50px;
    
    }
  
 
    
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.heading {
    color:$color-white;
    text-transform: uppercase; 
    backface-visibility: hidden;
    margin-bottom: 15px;
    &-primary {
        display: block;
        font-size: 2rem;
        font-family: 600;
        letter-spacing: 20px;
        animation-name: moveleft;
        animation-duration: 3s;
        animation-timing-function: ease-out;
    
    }
    &-sub{
        display: block;
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 5px;
        animation-name: moveright;
        animation-duration: 3s;
        animation-timing-function: ease-out;
    }

}