/* light green #7ed56f
medium green #55c57a
dark green #28b485 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 10px;
}

.header {
    position: relative;
    height: 85vh;
    background-image:linear-gradient(to right, rgba(0, 0, 255, 0.432), rgba(255, 255, 0, 0.568)), url(/images/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 1%, 100% 0%, 100% 78%, 0 100%);
    
}
.logobox {
    position: absolute;
    top: 40px;
    left: 40px;

}
.logo {
    height: 50px;

}
.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.heading {
    color: #fff;
    text-transform: uppercase; 
    backface-visibility: hidden;
    margin-bottom: 15px;

}
.heading-primary {
    display: block;
    font-size: 2rem;
    font-family: 600;
    letter-spacing: 20px;
    animation-name: moveleft;
    animation-duration: 3s;
    animation-timing-function: ease-out;

}
.heading-sub{
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 5px;
    animation-name: moveright;
    animation-duration: 3s;
    animation-timing-function: ease-out;


}
.btn:link,
.btn:visited{
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.3s;
    position: relative;

}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
.btn-white {
    background-color: #fff;
    color: #777;

}
.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%; 
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 2s;
}
.btn-white::after {
    background-color: #fff,

}
.btn:hover::after{
    transform: scaleX(1.5) scaleY(1.7);
    opacity: 0;
    color: blue;
}
.btn-animated {
    animation: movebottom 0.3s ease-out .5s;
    animation-fill-mode: backwards;
}
@media screen and (min-width: 768px) {
    .heading-primary {
        letter-spacing: 35px;
        font-size: 3rem;
    }
    .heading-sub {
        font-size: 1.8rem;
        letter-spacing: 17px;
    }
    
}

@keyframes moveleft  {
    0% {
        opacity: 0;
        transform: translateX(-100px);

    }
    70% {
        transform: translateX(10px);

    }
    100% {
        opacity: 1;
        transform: translate(0);

    }
}
@keyframes moveright  {
    0% {
        opacity: 0;
        transform: translateX(100px);

    }
    70% {
        transform: translateX(-10px);

    }
    100% {
        opacity: 1;
        transform: translate(0);

    }
}
@keyframes movebottom  {
    0% {
        opacity: 0;
        transform: translateY(30px);

    }
   
    100% {
        opacity: 1;
        transform: translate(0);

    }
}